In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('/home/fer/Documents/cfDNA/Programs/ichorCNA/500kb/merge_cna_seg.csv')
df

,chr,start,end,copy.number,event,logR,subclone.status,Corrected_Copy_Number,Corrected_Call,logR_Copy_Number,ID
0,1,1000001,1500000,2,NEUT,NaN,0,2,NEUT,NaN,UEB_0228
1,1,1500001,2000000,2,NEUT,-0.1929,0,2,NEUT,0.015625,UEB_0228
2,1,2000001,2500000,2,NEUT,NaN,0,2,NEUT,NaN,UEB_0228
3,1,3000001,3500000,2,NEUT,0.0823,0,2,NEUT,10.681420,UEB_0228
4,1,4000001,4500000,2,NEUT,0.0628,0,2,NEUT,8.666442,UEB_0228
...,...,...,...,...,...,...,...,...,...,...,...
104575,X,150000001,150500000,2,NEUT,0.0349,0,2,NEUT,inf,UEB_0205
104576,X,150500001,151000000,2,NEUT,-0.0143,0,2,NEUT,0.015625,UEB_0205
104577,X,151000001,151500000,2,NEUT,0.0040,0,2,NEUT,inf,UEB_0205
104578,X,152500001,153000000,2,NEUT,0.0437,0,2,NEUT,inf,UEB_0205
104579,X,154000001,154500000,2,NEUT,0.0374,0,2,NEUT,inf,UEB_0205

In [3]:
df[df['logR_Copy_Number']>0.3]

,chr,start,end,copy.number,event,logR,subclone.status,Corrected_Copy_Number,Corrected_Call,logR_Copy_Number,ID
3,1,3000001,3500000,2,NEUT,0.0823,0,2,NEUT,10.681420,UEB_0228
4,1,4000001,4500000,2,NEUT,0.0628,0,2,NEUT,8.666442,UEB_0228
5,1,4500001,5000000,2,NEUT,0.0965,0,2,NEUT,12.165971,UEB_0228
6,1,5000001,5500000,2,NEUT,0.0756,0,2,NEUT,9.986021,UEB_0228
7,1,5500001,6000000,2,NEUT,0.0436,0,2,NEUT,6.708895,UEB_0228
...,...,...,...,...,...,...,...,...,...,...,...
104574,X,149500001,150000000,2,NEUT,0.0329,0,2,NEUT,inf,UEB_0205
104575,X,150000001,150500000,2,NEUT,0.0349,0,2,NEUT,inf,UEB_0205
104577,X,151000001,151500000,2,NEUT,0.0040,0,2,NEUT,inf,UEB_0205
104578,X,152500001,153000000,2,NEUT,0.0437,0,2,NEUT,inf,UEB_0205
104579,X,154000001,154500000,2,NEUT,0.0374,0,2,NEUT,inf,UEB_0205