In [1]:
import pandas as pd

In [27]:
df = pd.read_csv('/home/fer/Documents/cfDNA/Programs/ichorCNA/500kb/cna_seg/UEB_0213.cna.seg',sep='\t')
df.columns = df.columns.str.replace('UEB_0213.', '')
df

/tmp/ipykernel_68470/2219580715.py:2: FutureWarning: The default value of regex will change from True to False in a future version.
  df.columns = df.columns.str.replace('UEB_0213.', '')

,chr,start,end,copy.number,event,logR,subclone.status,Corrected_Copy_Number,Corrected_Call,logR_Copy_Number
0,1,1000001,1500000,2,NEUT,NaN,0,2,NEUT,NaN
1,1,1500001,2000000,2,NEUT,-0.0125,0,2,NEUT,1.082914
2,1,2000001,2500000,2,NEUT,NaN,0,2,NEUT,NaN
3,1,3000001,3500000,2,NEUT,0.0550,0,2,NEUT,7.447175
4,1,4000001,4500000,2,NEUT,0.0478,0,2,NEUT,6.754046
...,...,...,...,...,...,...,...,...,...,...
5224,X,150000001,150500000,2,NEUT,0.0250,0,2,NEUT,4.581823
5225,X,150500001,151000000,2,NEUT,-0.0367,0,2,NEUT,0.015625
5226,X,151000001,151500000,2,NEUT,-0.0402,0,2,NEUT,0.015625
5227,X,152500001,153000000,2,NEUT,-0.0747,0,2,NEUT,0.015625
5228,X,154000001,154500000,2,NEUT,0.0576,0,2,NEUT,7.698322

In [28]:
df = df[df['logR_Copy_Number']>0.3]
df

,chr,start,end,copy.number,event,logR,subclone.status,Corrected_Copy_Number,Corrected_Call,logR_Copy_Number
1,1,1500001,2000000,2,NEUT,-0.0125,0,2,NEUT,1.082914
3,1,3000001,3500000,2,NEUT,0.0550,0,2,NEUT,7.447175
4,1,4000001,4500000,2,NEUT,0.0478,0,2,NEUT,6.754046
5,1,4500001,5000000,2,NEUT,0.0685,0,2,NEUT,8.756151
6,1,5000001,5500000,2,NEUT,0.0496,0,2,NEUT,6.927004
...,...,...,...,...,...,...,...,...,...,...
5221,X,147500001,148000000,2,NEUT,0.0094,0,2,NEUT,3.115221
5222,X,148000001,148500000,2,NEUT,0.0161,0,2,NEUT,3.743165
5223,X,149500001,150000000,2,NEUT,-0.0192,0,2,NEUT,0.467296
5224,X,150000001,150500000,2,NEUT,0.0250,0,2,NEUT,4.581823
5228,X,154000001,154500000,2,NEUT,0.0576,0,2,NEUT,7.698322

In [33]:
df=pd.DataFrame({
    'chrom': df.chr,
    'start': df.start,
    'end': df.end,
    'call': df.Corrected_Call})
df

     chrom      start        end  call
1        1    1500001    2000000  NEUT
3        1    3000001    3500000  NEUT
4        1    4000001    4500000  NEUT
5        1    4500001    5000000  NEUT
6        1    5000001    5500000  NEUT
...    ...        ...        ...   ...
5221     X  147500001  148000000  NEUT
5222     X  148000001  148500000  NEUT
5223     X  149500001  150000000  NEUT
5224     X  150000001  150500000  NEUT
5228     X  154000001  154500000  NEUT

[3403 rows x 4 columns]

In [34]:
df.to_csv('/home/fer/UEB_0213.bed', sep='\t')

# RevisiÃ³n

In [36]:
df2 = pd.read_csv('/home/fer/Downloads/AnnotSV_OITL6C5zHf.tsv', sep='\t')
df2

,AnnotSV_ID,SV_chrom,SV_start,SV_end,SV_length,user#1,user#2,Annotation_mode,CytoBand,Gene_name,...,OMIM_phenotype,OMIM_inheritance,OMIM_morbid,OMIM_morbid_candidate,LOEUF_bin,GnomAD_pLI,ExAC_pLI,AnnotSV_ranking_score,AnnotSV_ranking_criteria,ACMG_class
0,1_1_1500001__1,1,1,1500001,NaN,2000000,NEUT,full,p36.33,ACAP3;AGRN;ANKRD65;ATAD3A;ATAD3B;ATAD3C;AURKAI...,...,NaN,NaN,yes,yes,NaN,9.097400e-01,0.606850,NaN,NaN,NaN
1,1_1_1500001__1,1,1,1500001,NaN,2000000,NEUT,split,p36.33,ACAP3,...,NaN,NaN,NaN,NaN,3.0,4.413500e-06,0.039431,NaN,NaN,full=NA
2,1_1_1500001__1,1,1,1500001,NaN,2000000,NEUT,split,p36.33,AGRN,...,"Myasthenic syndrome, congenital, 8, with pre- ...",AR,yes,NaN,2.0,5.472700e-07,0.173350,NaN,NaN,full=NA
3,1_1_1500001__1,1,1,1500001,NaN,2000000,NEUT,split,p36.33,ANKRD65,...,NaN,NaN,NaN,NaN,9.0,5.061900e-09,NaN,NaN,NaN,full=NA
4,1_1_1500001__1,1,1,1500001,NaN,2000000,NEUT,split,p36.33,ATAD3A,...,"Harel-Yoon syndrome, 617183 (3) AR,AD;Pontocer...","AR;AR,AD",yes,NaN,4.0,4.086100e-09,0.040131,NaN,NaN,full=NA
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1813,9_1_6500001__1,9,1,6500001,NaN,7000000,NEUT,split,p24.1,TPD52L3,...,NaN,NaN,NaN,NaN,8.0,1.979800e-01,0.163390,NaN,NaN,full=NA
1814,9_1_6500001__1,9,1,6500001,NaN,7000000,NEUT,split,p24.1,UHRF2,...,NaN,NaN,NaN,NaN,0.0,9.992800e-01,0.999650,NaN,NaN,full=NA
1815,9_1_6500001__1,9,1,6500001,NaN,7000000,NEUT,split,p24.2,VLDLR,...,Cerebellar hypoplasia and mental retardation w...,AR,yes,NaN,3.0,1.961700e-11,0.000866,NaN,NaN,full=NA
1816,9_1_6500001__1,9,1,6500001,NaN,7000000,NEUT,split,p24.2,VLDLR-AS1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,full=NA
1817,9_1_6500001__1,9,1,6500001,NaN,7000000,NEUT,split,p24.3,WASHC1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,full=NA

In [37]:
df2.Gene_name

0       ACAP3;AGRN;ANKRD65;ATAD3A;ATAD3B;ATAD3C;AURKAI...
1                                                   ACAP3
2                                                    AGRN
3                                                 ANKRD65
4                                                  ATAD3A
                              ...
1813                                              TPD52L3
1814                                                UHRF2
1815                                                VLDLR
1816                                            VLDLR-AS1
1817                                               WASHC1
Name: Gene_name, Length: 1818, dtype: object